* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}
.nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.menu-bar {
  width: 40px;
  display: flex;
  align-items: center;
  display: none;
}
.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.chevron img {
  width: 10px;
}
button {
  border: none;
  background: white;
  font-size: 15px;
}
.Section1 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, rgb(247, 243, 243) 0%, #ffffff 100%);
  padding-bottom: 50px;
}
.nav1 {
  display: flex;
  gap: 20px;
  font-size: 12px;
  height: 60px;
}
.nav1 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body1 {
  display: flex;
  max-width: 900px;
  height: 300px;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
}
.nud {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.b-pic1 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 1s;
}
.nud:hover .b-pic1 {
  transform: scale(1.2);
}
.trans {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 300px;
  width: 436.04px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.nud:hover .trans {
  visibility: visible;
}
.grey {
  color: grey;
  font-size: 10px;
  width: 350px;
}
.grey1 {
  color: grey;
  font-size: 10px;
  width: 350px;
}
.orange {
  background: linear-gradient(to right, rgb(238, 42, 42) 0%, orange 100%);
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.niigem {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  background: linear-gradient(to right, rgb(247, 243, 243) 0%, white 100%);
  border-radius: 10px;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #427be8;
  padding: 10px;
  background-color: #212121;
  color: white;
}
.nav-bar img {
  width: 20px;
}
.nav-bar1 img {
  width: 20px;
}
.nav-bar1 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #427be8;
  padding: 10px;
}
.navigation {
  display: flex;
  width: 100%;
  display: none;
}
.iconii {
  color: grey;
  width: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(230, 228, 228);
}
.pic111 {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.pic111q {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.pic11 {
  width: 100%;
  height: 132px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.pic111:hover .pic11 {
  transform: scale(1.2);
}
.pic112 {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 132px;
  width: 213px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.pic111:hover .pic112 {
  visibility: visible;
}
.pic11q {
  width: 100%;
  height: 132px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.pic111q:hover .pic11q {
  transform: scale(1.2);
}
.pic112q {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 132px;
  width: 213px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.pic111q:hover .pic112q {
  visibility: visible;
}
.cola {
  width: 210px;
  font-size: 12px;
}
.colaq {
  width: 210px;
  font-size: 12px;
}
.mcs {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  max-width: 900px;
}
.mcsq {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  max-width: 900px;
}
.mcs1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 900px;
}
.iconoo {
  color: grey;
  width: 3cqb;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 5px;
}
.icon {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.robot {
  width: 210px;
  height: 210px;
  border-radius: 5px;
}
.GoGo {
  width: 100%;
  display: flex;
  max-width: 900px;
  margin-top: 20px;
  padding: 3px;
  gap: 3px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.Gofat {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.story-parent {
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;

  height: 220px;
}
.chevron-right {
  width: 100%;
  display: flex;
  max-width: 910px;
  margin: auto;
  align-items: center;
}
.che {
  border-radius: 100%;
  background-color: #d6d7d7;
  padding: 2px;
}

.story {
  z-index: 1;
  visibility: visible;
  position: absolute;
  display: flex;
  border-radius: 5px;
  gap: 10px;
}
/* }
img {
  border-radius: 5px;
} */
.today {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.next {
  max-width: 900px;
  margin-top: 50px;
  width: 70%;
}
.lklkb {
  width: 85px;
  height: 5px;
  background-color: rgb(182, 180, 180);
  border-radius: 5px;
}
.today1 {
  display: flex;
  justify-content: center;
}
.start {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 30%;
}
.sor {
  display: flex;
  width: 100%;
  gap: 25px;
  margin-bottom: 25px;
}
.beta {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 150px;
  flex-shrink: 0;
}
.greta {
  width: 100%;
  /* width: 200px; */
  height: 120px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: transform 1s;
}
.beta:hover .alpha {
  visibility: visible;
}
.beta:hover .greta {
  transform: scale(1.2);
}
.alpha {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 8px;
}
.sor1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.poll {
  height: 300px;
  width: 90%;
  background-color: #4eadee;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}
.poll2 {
  font-size: 13px;
  height: 50px;
  background-color: #88aaef;
  display: flex;
  align-items: center;
  gap: 5px;
}
.poll1 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.poll3 {
  font-size: 12px;
  margin-top: 20px;
}
.section2 {
  width: 30%;
  margin-top: 65px;
}
.before {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
}
p {
  font-size: 12px;
}
.icon1 {
  display: flex;
  gap: 10px;
}
.tree {
  display: flex;
  margin-bottom: 15px;
  gap: 8px;
  margin-left: 50px;
}
.bataa {
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.alpha1 {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 130px;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 8px;
}
.gamma1 {
  width: 100%;
  /* width: 200px; */
  height: 130px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: transform 1s;
}
.gamma:hover .alpha1 {
  visibility: visible;
}
.gamma {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 210px;
  flex-shrink: 0;
}
.trend {
  display: flex;
  gap: 8px;
  margin-left: 50px;
  padding-top: 20px;
}
.section2-2 {
  margin-top: 30px;
  background-color: #f6f4ef;
  padding-bottom: 70px;
}
.number {
  display: flex;
}
.number h1 {
  color: red;
  font-size: 40px;
  margin-right: 5px;
}
.number p {
  font-size: 10px;
}
.tt {
  display: flex;
  margin-top: 10px;
}
.red {
  padding: 20px 0 20px 20px;
  transition: all 1s;
}
.red:hover {
  transform: scale(1.1);
}
.tsaash {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #427be8;
  gap: 10px;
  font-size: 20px;
}
.yriy {
  display: flex;
  margin-top: 60px;
  gap: 5px;
  margin-bottom: 15px;
}
.yriy1 {
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  gap: 10px;
  max-width: 900px;
}
.yriy11 {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.white {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.yriy11-1 {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.yriy11:hover .yriy11-1 {
  transform: scale(1.2);
}
.delger {
  display: flex;
  text-decoration: none;
  color: white;
}
.blue {
  background-color: #4eadee;
  color: white;
  width: fit-content;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
}
.white {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.yriy12 {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.yriy12 img {
  width: 100%;
  height: 100%;
}
.yriy12-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.yriy12-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.elchin {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 50%;
}
.elchin-1 {
  transition: all 1s;
}
.elchin:hover .elchin-1 {
  transform: scale(1.1);
}
.ah {
  height: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.ah-1 {
  transition: all 1s;
}
.ah:hover .ah-1 {
  transform: scale(1.1);
}
.egc {
  height: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.egc-1 {
  transition: all 1s;
}
.egc:hover .egc-1 {
  transform: scale(1.1);
}
.emee {
  height: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.emee-1 {
  transition: all 1s;
}
.emee:hover .emee-1 {
  transform: scale(1.1);
}
.blue1 {
  background-color: #4eadee;
  color: white;
  width: fit-content;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
}
.white1 {
  position: absolute;
  font-size: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 55px;
  overflow: hidden;
  gap: 10px;
  bottom: 20px;
  left: 10px;
}
.elchin:hover .white1 {
  height: 70px;
}
.ah:hover .white1 {
  height: 70px;
}
.egc:hover .white1 {
  height: 70px;
}
.emee:hover .white1 {
  height: 70px;
}
.eye {
  display: flex;
  font-size: 8px;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 5px;
}
.gg {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 10px;
}
.gogo {
  width: 140px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.up {
  position: absolute;
  bottom: 35px;
  font-size: 10px;
  left: 5px;
  overflow: hidden;
  height: 23px;
  transition: all 1s;
}
.gg:hover .up {
  height: 45px;
}
.g-logo {
  position: absolute;
  left: 5px;
  top: 5px;
}
.gogo-zurag {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}
.gogo:hover .gogo-zurag {
  transform: scale(1.2);
}

.hew-mayg-parent {
  width: 100%;
  max-width: 900px;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}
.hew-mayg {
  z-index: 1;
  visibility: visible;
  /* position: absolute;*/
  display: flex;
  border-radius: 5px;
  gap: 10px;
  width: 100%;
}
.hew-pic {
  width: 220px;
  height: 200px;
  transition: all 1s;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.hew {
  width: 24%;
  flex-shrink: 0%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid;
  border-color: #d6d7d7;
  border-radius: 5px;
}
.hew-1 {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 200px;
}
.hew-2 {
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  color: white;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 12px;
}
.hew-1:hover .hew-2 {
  visibility: visible;
}
.hew-1:hover .hew-pic {
  transform: scale(1.2);
}
.com-pic {
  display: flex;
  width: 445px;
  height: 244.31px;
  transition: all 1s;
}
.scroll {
  width: 100%;
  max-width: 900px;
  display: flex;
  gap: 10px;
}
.comic1 {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.comic2 {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 244.31px;
  width: 100%;
  color: #ffffff;
}
.comic1:hover .comic2 {
  visibility: visible;
}
.comic1:hover .com-pic {
  transform: scale(1.1);
}
.footer {
  color: white;
  background-color: black;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
}
.foot {
  color: white;
  background-color: black;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.about {
  display: flex;
  gap: 20px;
  font-size: 12px;
  justify-content: center;
}
.last {
  display: flex;
  max-width: 900px;
  width: 100%;
  padding: 25px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #e3e0e0;
}
.about-us {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.samsung {
  max-width: 900px;
  width: 100%;
  display: none;
}
.apu {
  width: 100%;
  max-width: 900px;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}
.mcs {
  z-index: 1;
  visibility: visible;
  /* position: absolute;*/
  display: flex;
  border-radius: 5px;
  gap: 10px;
}
.mcsq {
  z-index: 1;
  visibility: visible;
  /* position: absolute;*/
  display: flex;
  border-radius: 5px;
  gap: 10px;
}
.pic11 {
  width: 210px;
}
.scroll-parent {
  width: 100%;
  max-width: 900px;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}
.scroll {
  z-index: 1;
  visibility: visible;
  /* position: absolute;*/
  display: flex;
  border-radius: 5px;
  gap: 10px;
}
.com-pic {
  width: 450px;
}
.cola {
  width: 24%;
  flex-shrink: 0;
}
.colaq {
  width: 24%;
  flex-shrink: 0;
}
.pic11 {
  width: 100%;
}
.pic11q {
  width: 100%;
}
.colaq {
  width: 24%;
}
.pic112 {
  width: 100%;
}
.pic112q {
  width: 100%;
}
.yriy {
  width: 95%;
  display: flex;
  justify-content: start;
  max-width: 900px;
}
@media screen and (min-width: 650px) and (max-width: 900px) {
  .nav1 a {
    border: 1px solid;
    border-color: #d6d7d7;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
  }
  .Gofat {
    padding: 0 20px;
  }
  .nav1 {
    margin-left: 15px;
    gap: 3px;
  }
  s .b-pic1 {
    width: 100%;
  }
  .grey1 {
    display: none;
  }
  .b-pic1 {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .body1 {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .niigem {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: none;
    color: white;
  }
  .nud {
    border-radius: 0%;
    width: 100%;
  }
  .section2-2 {
    display: none;
  }
  .trans {
    display: none;
  }
  .section2 {
    display: none;
  }
  .start {
    display: none;
  }
  .mcs1 {
    display: none;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    position: relative;
  }

  .menu-bar {
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
  }
  .body1 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .body {
    width: 100%;
  }
  .navigation {
    display: block;
    display: flex;
  }
  .Section1 {
    background: none;
  }
  .gogo {
    width: 33%;
  }
  .hew {
    width: 33%;
    flex-shrink: 0;
  }
  .hew-pic {
    width: 100%;
  }
  .before {
    display: flex;
    justify-content: start;
  }
  .next {
    width: 100%;
    padding: 0 20px;
  }
  .beta {
    width: 35%;
  }
  .samsung {
    display: block;
    width: 100%;
  }
  .yriy1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .poll {
    width: 100%;
  }
  .yriy12 {
    width: 100%;
  }
  .sor {
    border-bottom: 1px solid;
    border-color: #e3e0e0;
    padding-bottom: 10px;
  }
  .cola {
    width: 33%;
  }
  .pic111 {
    width: 100%;
  }
  .yriy11-1 {
    width: 100%;
  }
  .yriy11 {
    width: 100%;
  }
  .comicc {
    width: 50%;
    flex-shrink: 0;
  }
  .com-pic {
    width: 100%;
  }
  .colaq {
    width: 48%;
  }
  .mcsq {
    flex-wrap: wrap;
  }
  .hew-mayg {
    padding: 0 20px;
  }
  .mcs {
    padding: 0 20px;
  }
  .comicc {
    padding: 0 20px;
  }
  .yriy {
    padding: 0 20px;
  }
  .GoGo {
    padding: 0 20px;
  }
  .yriy1 {
    aspect-ratio: none;
  }
}
@media screen and (max-width: 650px) {
  s .b-pic1 {
    width: 100%;
  }
  .foot {
    justify-content: center;
    width: 100%;

    padding: 100px 0px 0 10px;
  }
  .yriy12 {
    flex-wrap: wrap;
    width: 100px;
  }
  .grey1 {
    display: none;
  }
  .b-pic1 {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .body1 {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .niigem {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: none;
    color: white;
  }
  .nud {
    border-radius: 0%;
    width: 100%;
  }
  .section2-2 {
    display: none;
  }
  .trans {
    display: none;
  }
  .section2 {
    display: none;
  }
  .start {
    display: none;
  }
  .mcs1 {
    display: none;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: start;
    position: relative;
  }
  .body1 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .body {
    width: 100%;
  }
  .navigation {
    display: block;
    display: flex;
  }
  .Section1 {
    background: none;
  }
  .gogo {
    width: 50%;
  }
  .hew {
    width: 50%;
    flex-shrink: 0;
  }
  .hew-pic {
    width: 100%;
  }
  .before {
    display: flex;
    justify-content: start;
  }
  .next {
    width: 100%;
    padding: 0 20px;
  }
  .beta {
    width: 35%;
  }
  .samsung {
    display: block;
    width: 100%;
  }
  .yriy1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sor {
    border-bottom: 1px solid;
    border-color: #e3e0e0;
    padding-bottom: 10px;
  }
  .cola {
    width: 50%;
  }
  .pic111 {
    width: 100%;
  }
  .yriy12 {
    width: 80%;
  }
  .yriy11-1 {
    width: 80%;
    height: 400px;
  }

  .yriy11 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .comicc {
    width: 98%;
    flex-shrink: 0;
  }
  .com-pic {
    width: 100%;
  }
  .colaq {
    width: 98%;
  }
  .mcsq {
    flex-direction: column;
  }
  .poll {
    width: 100%;
  }
  .pic11q {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .pic112q {
    height: 100%;
  }
  .pic11 {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .grey {
    display: none;
  }
  .last {
    flex-wrap: wrap;
  }
  .cola {
    width: 48%;
  }
  .nav1 a {
    border: 1px solid;
    border-color: #d6d7d7;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
  }
  .nav1 {
    margin-left: 15px;
    gap: 3px;
  }
  .white {
    left: 70px;
    overflow: hidden;
  }
  .last {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .Gofat {
    padding: 0 20px;
  }
  .hew-mayg {
    padding: 0 20px;
  }
  .mcs {
    padding: 0 20px;
  }
  .comicc {
    padding: 0 20px;
  }
  .yriy {
    padding: 0 20px;
    width: 98%;
  }
  .GoGo {
    padding: 0 20px;
  }
  .m {
    height: 1300px;
  }
  .yriy12 {
    height: 400px;
  }
  .yriy11 {
    overflow: hidden;
  }
}
